.grid-container {
    display: grid;
}

.grid-container--fill {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 7px;
}

.countriesDIV {
    width: 200px;
}

h1 {
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-weight: bolder;
}

h2 {
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

a:link {
    text-align: right;
}

.header {
    background-image: url("https://images.unsplash.com/photo-1499781350541-7783f6c6a0c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3RyZWV0JTIwYXJ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60") ;
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    text-align: center;
    font-family: 'Rock Salt', cursive;
}